* {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

*:hover {
  transition: 0.4s;
}

:root.bright {
  --fontC: black;
  --firstC: #f6d4ba;
  --secondC: cornsilk;
  --thirdC: #feea00;
  --fourthC: #3f612d;
}

:root.dark {
  --fontC: white;
  --firstC: #4d7ea8;
  --secondC: #828489;
  --thirdC: #9E90A2;
  --fourthC: #b6c2d9;
}

body {
  margin: 0;
  background-color: var(--fourthC, #3f612d);
  color: var(--fontC, black);
}

header {
  color: var(--secondC, cornsilk);
  min-height: 10vh;
  padding: 1rem;
}

.theme-cont {
  text-align: end;
}

.theme-cont > button {
  font-size: 1.5rem;
  background-color: var(--thirdC, #feea00);
  border: none;
  border-radius: 1rem;
  color: var(--fourthC, #3f612d);
  padding: 0.25rem 2rem;
  cursor: pointer;
}

.theme-cont > button:hover {
  color: var(--fontC, black);
}

.header-title {
  font-size: 2.5rem;
}

main {
  background-color: var(--secondC, cornsilk);
  min-height: 80vh;
}

.add-book-cont {
  padding: 2rem 1rem;
  text-align: center;
}

.add-book-cont > button {
  font-size: 2rem;
  background-color: var(--secondC, cornsilk);
  border: none;
  border-radius: 2rem;
  color: var(--fourthC, #3f612d);
  padding: 1rem 3rem;
  cursor: pointer;
}

.add-book-cont > button:hover {
  background-color: var(--firstC, #f6d4ba);
  color: var(--fontC, black);
}

.card-cont {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
}

.card {
  border-radius: 1rem;
  background-color: var(--firstC, #f6d4ba);
  color: var(--fontC, black);
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap: 1rem;
}

.title,
.author,
.pages {
  max-width: 15rem;
  margin: auto;
}

.card-btns > button {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  color: var(--fontC, black);
}

.card-btns > button:hover {
  color: var(--fourthC, #3f612d);
}

.read-btn {
  margin-bottom: 1rem;
}

.read {
  background-color: rgb(72, 177, 72);
}

.unread {
  background-color: rgb(255, 94, 94);
}

.remove-btn {
  background-color: rgba(155, 155, 155, 0.7);
}

footer {
  padding: 1rem;
  text-align: center;
}

footer > a {
  color: var(--secondC, cornsilk);
  text-decoration: none;
}

footer > a:hover {
  color: var(--thirdC, #feea00);
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

form {
  margin: auto;
  margin-top: 25vh;
  max-width: 18rem;
  background-color: var(--fourthC, #3f612d);
  color: var(--secondC, cornsilk);
  text-align: center;
  padding: 2rem;
  border: 1px solid var(--fontC, black);
  border-radius: 1rem;
}

.form-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

label {
  display: block;
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
}

input {
  width: 90%;
  margin-bottom: 1rem;
  height: 1.5rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--secondC, cornsilk);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: var(--fontC, black);
}

input:focus {
  outline: none;
  filter: brightness(80%);
}

/* remove arrows from input number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* create custom checkbox */
.checkbox-cont > input {
  height: 0;
  width: 0;
}

.checkbox {
  cursor: pointer;
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-color: var(--secondC, cornsilk);
}

.checkbox:hover {
  filter: brightness(80%);
}

.checkbox:after {
  content: "";
  display: none;
}

.checkbox-cont input:checked ~ .checkbox:after {
  display: block;
}

.checkbox-cont .checkbox:after {
  margin-left: 0.25rem;
  width: 0.3rem;
  height: 0.6rem;
  border: solid var(--fourthC, #3f612d);
  border-width: 0 0.2rem 0.2rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

form > button {
  margin-top: 2rem;
  width: 95%;
  height: 2.5rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--secondC, cornsilk);
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: var(--fontC, black);
}

form > button:hover {
  background-color: var(--thirdC, #feea00);
  color: var(--fourthC, #3f612d);
}